<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="[%level] %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.kafka" level="WARN"/>
        <Root level="WARN"/>
    </Loggers>
</Configuration>
