# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Build
target/
build/
out/
dist/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.sublime-project
*.sublime-workspace
.eclipse/
.classpath
.project
.settings/

# Maven
.mvn/
mvnw
mvnw.cmd

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# OS
.DS_Store
Thumbs.db
